@import "vars.scss";
@import "basics.scss";
@import "preview.scss";
@import "footer.scss";
@import "main.scss";
@import "header.scss";
@import "profile.scss";
.test {
  height: 100%;
  &-page {
    height: 100%;
  }
  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &-wrong {
    font-size: 24px;
    color: #ff7777;
    letter-spacing: 0.16em;
  }
  &-word {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 0.16em;
    color: #ff7777;
  }
  &-list {
    max-height: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-item {
    font-size: 26px;
    min-width: 239px;
    width: 100%;

    padding: 0.6em;
    text-align: center;
    letter-spacing: 0.16em;
    background: #ff7777;
    color: #fffcdd;
    border-radius: 24px;

    box-sizing: border-box;
  }
  &-item:active {
    box-shadow: 0 0 0 4pt #13aaff;
  }
  &-dots {
    order: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    li {
      display: flex;
    }
    button {
      margin: 0 2px;
      border: 2px solid rgba(19, 170, 255, 0.65);
      border-radius: 50%;
      width: 15px;
      height: 15px;
      font-size: 0;
      background: inherit;
      transition: 0.5s;
      box-sizing: border-box;
    }
    .slick-active {
      button {
        background: rgba(19, 170, 255, 0.65);
      }
    }
  }
}
