@import "vars.scss";
@import "preview.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 425px;
  height: 100vh;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: $weat;
}
button {
  border: none;
  color: inherit;
  background: none;
}
:focus {
  outline: none;
}
li,
ul {
  list-style: none;
}
.hidden {
  display: none !important;
  z-index: -10 !important;
}
.container {
  margin: 0 auto;
  width: 85%;
  height: inherit;
}
.header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-height: 79px;
  height: 11vh;
  width: 100%;
  z-index: 1;

  background: #fff6a9;
  box-shadow: 0px 2px 12px rgba(228, 221, 150, 0.25);
  color: $blue;
  display: flex;
  align-items: center;
  &-name {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.16em;
    padding-left: 1em;
  }
}
.footer {
  position: fixed;
  overflow: hidden;
  max-width: inherit;
  max-height: 79px;
  height: 11vh;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background: #fff6a9;
  box-shadow: 0px 2px 12px rgba(228, 221, 150, 0.25);
  color: $blue;
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  &-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}
