@import "vars.scss";
@import "basics.scss";
@import "preview.scss";
@import "footer.scss";
@import "header.scss";

.main {
  height: 100%;
  //opacity: 0;
  display: flex;
  &-content {
    display: flex;
    height: 100%;
  }
  &-topics {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }
  &-topic {
    max-height: 120px;
    height: 25%;
    width: 239px;
    background: #ff7777;
    border-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
    letter-spacing: 0.16em;
    color: $weat;
  }

  &-topic:nth-of-type(2) {
    align-self: flex-end;
    justify-content: flex-start;
  }
}
.topic {
  &-title {
    padding: 0 2em;
  }
}
